/*!
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
    TODO will need to remove settings on HTML since we can't namespace it.
    TODO with the prefix, should I group by selector or property for weight savings?
*/
html{
  color:#000;
}
/*
  TODO remove settings on BODY since we can't namespace it.
*/
/*
  TODO test putting a class on HEAD.
      - Fails on FF.
*/
.header{
  height:20px; //仮値
  width:100%;
  background:#38AEF0;
  color:#fff;
  text-align:center;
  position:fixed;
}

body{
  height:100%;
  background:#2f3e51;
}

.wrapper{
  padding-top:20px;
}


.chat-side{
  float:left;
  width:300px;
  color:#ffffff;
}

.side-header{
  background:#253141;
  font-size:16px;
  font-weight:bold;
  line-height:105px; //仮値
  padding:0 20px;
}

.groups{
  background: #2f3e51;
  padding:0 20px;
  .group__group-name{
    font-size:15px;
    padding:20px 0 5px 0;
  }
  .group__latest-message{
    font-size:11px;
    padding-bottom:20px;
  }  
}

.chat-main{
  width:calc(100%-300px);
  background:#fafafa;
  // padding-left:300px;
  margin-left:300px;
}

.main-header{
  padding-left:40px;
  border-bottom:solid 1px #eeeeee;
  .main-header__left-box__current-group{
    font-size: 20px;
    color:#333333;
    padding:35px 0 15px 0;
  }
  .main-header__left-box__member-list{
    display:inline-block;
    font-size:12px;
    color:#999999;
  }
  .main-header__left-box__member-list__member{
    display:inline-block;
    font-size:12px;
    color:#999999;
  }
  .main-header__edit-btn{
    color:#38AEF0;
    display:inline-block;
    border:solid 1px #38AEF0;
    padding:0 20px;
    line-height:40px;
    position: absolute;
    top:48px;
    right:40px;
  }
}

.messages{
  padding:46px 0 0 40px;
}

.message__upper-info__talker{
  display:inline-block;
  font-size:16px;
  font-weight:bold;
  color:#434A54;
  padding:0 10px 10px 0;
}

.message__upper-info__date{
  display:inline-block;
  font-size:12px;
  color:#999999;
}

.message__text{
  padding-bottom:40px;
  font-size:14px;
  color:#434A54;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,
img {
  border:0;
}
/*
  TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style:normal;
  font-weight:normal;
}

ol,
ul {
  list-style:none;
}

caption,
th {
  text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,
q:after {
  content:'';
}
abbr,
acronym {
  border:0;
  font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
  vertical-align:text-top;
}
sub {
  vertical-align:text-bottom;
}
input,
textarea,
select {
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
  color:#000;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset { display: none; }